/* Style du conteneur principal */
@media screen and (max-width: 768px) {
    /* Ajoutez vos styles pour les smartphones ici */
}

.container {
    width: 50%;
    margin: auto;
}

/* Style du formulaire */
form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style des libellés */
label {
    font-weight: bold;
}

/* Style des champs de saisie */
input[type="text"], input[type="file"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style du bouton Ajouter */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Changement de couleur du bouton au survol */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style des messages de succès ou d'erreur */
.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

/* Style du message de succès */
.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

/* Style du message d'erreur */
.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
